__*
*.bak
*.xlsx

/releases
/test

/.gradle
/.settings
/bin
/build
/gradle
/libs
/media
/run

/.classpath
/.project
/gradlew
/gradlew.bat
/forge*.zip

/todo.txt
/changes.txt
/changelog.txt
passwords.gradle
post.txt

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
eclipse/.metadata/.plugins/
